In [1]:
import pandas as pd
df= pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [2]:
df=df[0]

In [3]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Since there are lots of postal code with not assigned data. We need to clean the data.

In [5]:
#removing the data that has no value which is 'Not assigned' in this data
df_filtered = df[df['Borough']!='Not assigned']
df_filtered.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [6]:
#checking if the data frame has any null values we need to know
df_filtered.isnull().values.any()

False

In [7]:
type(df_filtered)

pandas.core.frame.DataFrame

In [8]:
df_filtered.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

In [9]:
df_filtered.describe(include = 'object'  )

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           99
top            M6G  North York    Downsview
freq             1          24            4

In [11]:
df_filtered.shape

(103, 3)