In [1]:
import pandas as pd
df= pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [2]:
df=df[0]

In [3]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Since there are lots of postal code with not assigned data. We need to clean the data.

In [4]:
#removing the data that has no value which is 'Not assigned' in this data
df_filtered = df[df['Borough']!='Not assigned']
df_filtered.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
#checking if the data frame has any null values we need to know
df_filtered.isnull().values.any()

False

In [6]:
type(df_filtered)

pandas.core.frame.DataFrame

In [7]:
df_filtered.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

In [8]:
df_filtered.describe(include = 'object'  )

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           99
top            M6H  North York    Downsview
freq             1          24            4

In [9]:
df_filtered.shape

(103, 3)

In [10]:
df_postal=df_filtered

Given that geocoder package can be very unreliable, I decided to use the give link to get a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

In [11]:
df_ll= pd.read_csv("http://cocl.us/Geospatial_data")

In [12]:
df_ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
df_ll.shape

(103, 3)

In [14]:
#check if there are any null values
df_ll.isnull().values.any()

False

In [15]:
#merging data 
df= pd.merge(df_postal,right=df_ll)

In [16]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [17]:
df.shape

(103, 5)

In [18]:
df.head(12)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724